[user]
	name = Vyacheslav Kapitonov
	email = vyach.kapitonov@gmail.com
[core]
	editor = nvim
    excludesFile = ~/.global_gitignore
[init]
	defaultBranch = main
[grep]
	patternType = perl
[merge]
	ff = false
[pull]
	rebase = false
