[user]
	name = Vyacheslav Kapitonov
	email = vyach.kapitonov@gmail.com
[core]
	editor = nvim
    excludesFile = ~/.global_gitignore
[init]
	defaultBranch = main
	templateDir = ~/.git-template
[grep]
	patternType = perl
