snippet b "Bold text" i
[b]${1}[/b]${0}
endsnippet


snippet u "Underlined text" i
[u]${1}[/u]${0}
endsnippet


snippet q "Quotes for arch linux forum" i
[quote=${1}]${2}[/quote]${0}
endsnippet


snippet code "Code snippet for arch linux forum" i
[code]
${1}
[/code]
${0}
endsnippet
