snippet ( "cover selected text to ( ) and some func"
$1(${VISUAL})
$0
endsnippet


snippet pp "import pprint"
from pprint import pprint
$0
endsnippet


snippet  ifname "if name = main"
if __name__ == '__main__':
	$0
endsnippet
