snippet s "select" i
select
  $0
endsnippet

snippet f "from" i
from
  $0
endsnippet

snippet w "where" i
where
  $0
endsnippet

snippet gb "group by" i
group by $0
endsnippet

snippet ob "order by" i
order by $0
endsnippet

snippet W "window" i
window w as ($0)
endsnippet

snippet p "partition by" i
partition by $0
endsnippet

snippet lv "last_value" i
last_value($1) $0
endsnippet

snippet fv "first" i
first_value($1) $0
endsnippet

snippet o "over w" i
over w $0
endsnippet
